<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>beautiful</string>
	<string>我去, 好美呀</string>
	<string>唱歌真好听</string>
	<string>再来一首</string>
	<string>狗带了!!!</string>
	<string>你的眉毛象最漂亮的柳叶</string>
	<string>你咋这么美呢</string>
	<string>你咋这么漂亮呢</string>
	<string>你咋这么逗呢</string>
	<string>嫁给我吧</string>
	<string>一群逗比啊</string>
	<string>我爱你呀</string>
	<string>你多大啊</string>
	<string>是不是整容了</string>
	<string>有男朋友了吗</string>
	<string>孩子多大了</string>
	<string>有妹妹吗</string>
	<string>妹妹嫁人了吗</string>
	<string>有姐姐吗</string>
	<string>姐姐嫁人了吗</string>
	<string>高考多少人啊</string>
	<string>哪个城市的</string>
	<string>哪个学校的</string>
	<string>发夹什么颜色的</string>
	<string>6666666666</string>
	<string>goods</string>
</array>
</plist>
