<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/e4f7c1489cbebca799fae85e11ee4bc3.flv</string>
		<key>new</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>冷氏、木惜</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-06/14/19/20160614190503_60210568_250.png</string>
		<key>position</key>
		<string>咸宁市</string>
		<key>roomid</key>
		<integer>60820750</integer>
		<key>serverid</key>
		<integer>7</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60210568</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/bd53d5fb77ff384c83086349c0139bc8.flv</string>
		<key>new</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>蒂九💋程姑娘💍</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-06/09/12/60710142_124155563_250.png</string>
		<key>position</key>
		<string>天津市</string>
		<key>roomid</key>
		<integer>60204648</integer>
		<key>serverid</key>
		<integer>7</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60710142</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/af174540dc3a253885d1817e946f59dc.flv</string>
		<key>new</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>杨宇峰</string>
		<key>photo</key>
		<string>http://wx.qlogo.cn/mmopen/xxLzNxqMsxnUQpnnrJp5GibhYnzfibZJb1oRmMiaCicBtgNunHUPWETDdQbzpSBg01QBWtRzLHvLWN8XUyiaZEctkROwZTWpTZRBz/132</string>
		<key>position</key>
		<string>重庆市</string>
		<key>roomid</key>
		<integer>60378751</integer>
		<key>serverid</key>
		<integer>4</integer>
		<key>sex</key>
		<integer>1</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60378751</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/576904f8e7ae514a8e99e0e065699d51.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>传说💕💕小黑💋</string>
		<key>photo</key>
		<string>http://wx.qlogo.cn/mmopen/XJeYryjRdrVia2toCmd03U3qRLUIlhRPwtGRG9HibibY72ZASeFe5eDQs4wZia8Jk8ibAkspCQtKjxMLSadEMkOxibOGnJcIBLvs25/132</string>
		<key>position</key>
		<string></string>
		<key>roomid</key>
		<integer>60572530</integer>
		<key>serverid</key>
		<integer>7</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60110105</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/7a9d2455367e36a266e407c9e47ba578.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>Ly、涵</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-06/13/12/60707266_120736260_250.png</string>
		<key>position</key>
		<string>新乡市</string>
		<key>roomid</key>
		<integer>60210825</integer>
		<key>serverid</key>
		<integer>7</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60707266</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/26984ecb354618376bd3bd9d2ce6381c.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>YR-电竞少女</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-06/14/23/20160614232645_60224190_250.png</string>
		<key>position</key>
		<string>威海市</string>
		<key>roomid</key>
		<integer>60337848</integer>
		<key>serverid</key>
		<integer>4</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60224190</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/b7684618654d8134ea3b27e1e29be485.flv</string>
		<key>new</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>芭比娱乐-火火</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-06/16/00/20160616001344_60656131_250.png</string>
		<key>position</key>
		<string>六盘水市</string>
		<key>roomid</key>
		<integer>60603091</integer>
		<key>serverid</key>
		<integer>4</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60656131</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/ac8f070c0e60af1a467c250611784b07.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>师妹</string>
		<key>photo</key>
		<string>http://wx.qlogo.cn/mmopen/ps68icnpRvDXYEWpxnLibSma74PKEu2q51E3GFZZtUcmRQzdfQHuXGTlhWf17J7rzuiadpXsfAD221Q1zXLs6PFhg/132</string>
		<key>position</key>
		<string>随州市</string>
		<key>roomid</key>
		<integer>60587080</integer>
		<key>serverid</key>
		<integer>6</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60587080</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/c8f1ee42a5a9df2a3066b56a40c86db0.flv</string>
		<key>new</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>凡人</string>
		<key>photo</key>
		<string>http://q.qlogo.cn/qqapp/204515/CEFA2D9BCA0D4D1B00F68C5707A9DE69/40</string>
		<key>position</key>
		<string>武威市</string>
		<key>roomid</key>
		<integer>60641110</integer>
		<key>serverid</key>
		<integer>4</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60641110</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/bbe7e3042af3b2dc9f921e60ef2836f8.flv</string>
		<key>new</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>Ko💎草莓</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-06/11/02/60771729_024534566_250.png</string>
		<key>position</key>
		<string></string>
		<key>roomid</key>
		<integer>13579</integer>
		<key>serverid</key>
		<integer>2</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60771729</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/03bf1449563186f7c6f56104c48d0b36.flv</string>
		<key>new</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>_wyz💋</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-06/16/17/20160616172843_60617091_250.png</string>
		<key>position</key>
		<string>韶关市</string>
		<key>roomid</key>
		<integer>60617091</integer>
		<key>serverid</key>
		<integer>4</integer>
		<key>sex</key>
		<integer>1</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60617091</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/b6fa59ad7578c366f663faf1efc75f5a.flv</string>
		<key>new</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>林熙</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-05-27/20160527203227234_250.png</string>
		<key>position</key>
		<string>无锡市</string>
		<key>roomid</key>
		<integer>29996427</integer>
		<key>serverid</key>
		<integer>3</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60039332</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/e3a5c7b9a1ae0eed3c1149b5543d2c61.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>Ly_👄安安</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-06/16/15/20160616153627_60302502_250.png</string>
		<key>position</key>
		<string>锦州市</string>
		<key>roomid</key>
		<integer>60210825</integer>
		<key>serverid</key>
		<integer>7</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60302502</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/3c1362d941b03e68845475486ca12e7c.flv</string>
		<key>new</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>热播💋小雨欣呀</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-06/16/16/20160616164919_60755283_250.png</string>
		<key>position</key>
		<string></string>
		<key>roomid</key>
		<integer>60320642</integer>
		<key>serverid</key>
		<integer>4</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60755283</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/c7035672be649fc736292f8b6809bc2f.flv</string>
		<key>new</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>8090❤陌儿小妖精</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-06/16/14/20160616140957_60261610_250.png</string>
		<key>position</key>
		<string>芜湖市</string>
		<key>roomid</key>
		<integer>7766678</integer>
		<key>serverid</key>
		<integer>2</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60261610</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/9f21254cfcf3a76a26ebd946646ee479.flv</string>
		<key>new</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>ting、雅晴</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-06/15/02/20160615025128_60796311_250.png</string>
		<key>position</key>
		<string>成都市</string>
		<key>roomid</key>
		<integer>60049094</integer>
		<key>serverid</key>
		<integer>7</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60796311</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/052803a92c4fa613028e88b179c33e72.flv</string>
		<key>new</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>༺纵横👏苏霸</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-06/16/12/20160616125446_60133367_250.png</string>
		<key>position</key>
		<string>太原市</string>
		<key>roomid</key>
		<integer>20827716</integer>
		<key>serverid</key>
		<integer>4</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60133367</integer>
	</dict>
	<dict>
		<key>flv</key>
		<string>http://hdl.9158.com/live/58f56b6d41aca3ab7466b73b198680fb.flv</string>
		<key>new</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>MS.胖纸虎-160</string>
		<key>photo</key>
		<string>http://liveimg.9158.com/pic/avator/2016-05-31/20160531005514565_250.png</string>
		<key>position</key>
		<string>上海市</string>
		<key>roomid</key>
		<integer>60246042</integer>
		<key>serverid</key>
		<integer>5</integer>
		<key>sex</key>
		<integer>0</integer>
		<key>starlevel</key>
		<integer>0</integer>
		<key>useridx</key>
		<integer>60305887</integer>
	</dict>
</array>
</plist>
